body{
    height: 500px;
    width: 500px;
    background-color: rgb(216, 245, 255);
}

header{
    font-size: 50px;
    font-family:'Courier New', Courier, monospace;
    color:rgb(73, 80, 83);
    text-align: center;
    position: absolute;
    left:400px;
}

