body{
    height: 500px;
    width: 500px;
    background-color: rgb(216, 245, 255);
}

header{
    font-size: 50px;
    font-family:'Courier New', Courier, monospace;
    color:rgb(73, 80, 83);
    text-align: center;
    position: absolute;
    left:400px;
}



.blue{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 8px solid white;
    position: absolute;
    left: 1000px;
    top: 600px;
}

.break{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 8px solid white;
    position: absolute;
    left: 600px;
    top: 600px;
}

.inart{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 8px solid white;
    position: absolute;
    left: 200px;
    top: 600px;

}

.mitski{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 8px solid white;
    position: absolute;
    left: 1000px;
    top:150px;
}

.september{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 8px solid white;
    position: absolute;
    left: 600px;
    top:150px;
}

.sweet{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 8px solid white;
    position: absolute;
    left: 200px;
    top:150px;
}