body{
    height: 500px;
    width: 500px;
    background-color: rgb(216, 245, 255);
}

header{
    font-size: 50px;
    font-family:'Courier New', Courier, monospace;
    color:rgb(73, 80, 83);
    text-align: center;
    position: absolute;
    left:400px;
}



.blue{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 8px solid white;
    position: absolute;
    left: 1000px;
    top: 600px;
    transition: transform 0.3s;
}



.break{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 8px solid white;
    position: absolute;
    left: 600px;
    top: 600px;
    transition: transform 0.3s;

}

.inart{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 8px solid white;
    position: absolute;
    left: 200px;
    top: 600px;
    transition: transform 0.3s;

}

.mitski{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 8px solid white;
    position: absolute;
    left: 1000px;
    top:150px;
    transition: transform 0.3s;

}

.september{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 8px solid white;
    position: absolute;
    left: 600px;
    top:150px;
    transition: transform 0.3s;
}

.sweet{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 8px solid white;
    position: absolute;
    left: 200px;
    top:150px;
    transition: transform 0.3s;

}

.blue:hover{
    transform:scale(1.3);
}

.break:hover{
    transform:scale(1.3);
}

.inart:hover{
    transform:scale(1.3);
}

.mitski:hover{
    transform:scale(1.3);
}

.september:hover{
    transform:scale(1.3);
}

.sweet:hover{
    transform:scale(1.3);
}

.b{
    font-size: 20px;
    position: absolute;
    left:1070px;
    top:550px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(45, 65, 72);
}