

*{
    margin: 0;
    padding: 0;
    font-family:'Sucker', sans-serif;
    box-sizing: border-box;
}



.container{
    width: 100%;
    height:100vh;
    background: rgb(255, 185, 207);
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.music{
    background-color: white;
    width: 400px;
    padding: 25px 35px;
    text-align: center;

}
nav{
    display:flex;
    justify-content: space-between;
    margin-bottom: 30px;
    }

nav .circle{
    border-radius:50%;
    width:40px;
    height:40px;
    line-height: 40px;
    background: white;
    color: pink;
    box-shadow:0px 5px 10px rgba(255, 26, 26, 0.22)
}

